<extend file="Base/common" />

<block name="body">
    BODY
    <raw>
        <volist name="b" id="vo">
            <if condition="$a == 1">
                {$a}
            <else condition="$a == 2" />
                {$b}
            </if>
        </volist>
    </raw>
    {:date('Y-m-d H:i:s', time())}
    <include file="Base/a" />
    <say what="你好" />
    cut
    <lists name="one">
        content
        <lists name="two">
            content
            <lists name="three">
                content
            </lists>
        </lists>
    </lists>
</block>