/*
 * imgAreaSelect animated border style
 */

.imgareaselect-border1 {
	background: url(../images/border-anim-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(../images/border-anim-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(../images/border-anim-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(../images/border-anim-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
	border: solid 1px #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-outer {
	background-color: #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-selection {
}

/*剪切头像*/
.uppic_msg{width:100%; background:#ffffe0 url(../images/yun_ts.png) no-repeat 10px center;color:#e2731a; padding-top:5px; padding-bottom:5px; line-height:23px; float:left;   margin:15px 0 0 0; text-indent:35px;}
.oppic_img_cont{width:100%; margin-top:10px;}
.uppic_sc_box{width:340px;float:left;height:100px;border:1px solid #eee8e8;text-align:center;color:#999; padding:10px 10px 10px 10px; background:#f8f8f8}
.uploader_sc_gs{width:100%; padding:10px 0 10px 0px;}
.uploader_sc{width:298px;margin-top:20px;height:28px; position:relative}
.link-upload{ display:block;width:100%; text-align:center;height:28px}
.input-file {width:75px;height:28px;position: absolute;top: 0;left:110px;filter:alpha(opacity=0);opacity:0;cursor: pointer;}
.uppic_tit{width:100%; float:left; padding:20px 0;color:#666}
.oppic_img_big{width:140px; float:left; }
.oppic_img_big_img{width:120px;height:120px; padding:3px;border:1px solid #eee;text-align:center;}
.oppic_img_big_img img{ display:block; }
.oppic_img_big_p{width:100%; text-align:center;font-size:12px;font-family:microsoft yahei,宋体; padding-top:5px;}
.oppic_img_sim{width:55px; float:left;  margin-left:30px;}
.oppic_img_sim_img{width:50px;height:50px;padding:3px;border:1px solid #eee;text-align:center;}
.oppic_img_sim_img img{ display:block;}
.oppic_img_sim_img_p{width:100%;  font-size:12px;font-family:microsoft yahei,宋体; text-align:center}
.uppic_sc_r{width:180px; float:left; margin-left:50px; margin-top:30px; text-align:center;}
.uppic_sc_img{width:63px;height:55px;  margin:10px auto }
.uppic_sc_bth1{border:1px solid #ccc;width:178px;}
.uppic_sc_bth2{width:100px;height:30px; background:#0088b8;border-radius: 1px; color: #FFFFFF; cursor: pointer; font-size:14px;border:none; margin-top:10px;}
.uppic_flash{ float:left;margin-top:10px;width:580px; padding:10px;border:1px solid #eee;}
.uppic_big_zx{width:;border-right:1px solid #eee; padding-right:20px; margin-right:30px; float:left}
.uppic_previ1{overflow:hidden;position:relative;background-color:white; margin-top:20px; margin-right:20px}
.uppic_previ2{overflow:hidden;position:relative;background-color:black}
.uppic_pb{width:100%; float:left; }
.upp_bc{width:100%;margin-top:30px;float:left;}
.upp_bth_p{width:160px;border-radius:3px;cursor:pointer;margin-left:0;margin-top:20px;}
.uppic_sc_bb{width:340px;height:100px;border:1px solid #eee8e8;margin:0 auto;text-align:center;color:#999; padding:10px; background:#f8f8f8}
.uppic_pb{width:100%;text-align:center;}
.uppic_pb_bth{width:100px;height:35px;cursor:pointer;background:#0088b8;color:#fff;border-radius:3px; font-size:16px;border:none; margin-top:20px; }
/*uppic*/
.uppic_left{width:630px; float:left; margin-top:20px;color:#666;}
.uppic_tip{width:100%; padding:20px 0;color:#666;}
.uppic_tip_bth{width:140px; float:left; position:relative}
.uppic_tip_bthupload{height:38px; line-height:38px; background:#f8f8f8 url(../images/pic_img.png) no-repeat 10px center;border:1px solid #ddd; position:relative; padding-left:50px; padding-right:10px;cursor:pointer; display:block}
.uppic_tip_bthfile{width:100%;height:100%; position:absolute;left:0px;top:0px; opacity:0;filter:alpha(opacity=0); cursor:pointer}
.uppic_tip_gs{ float:left; line-height:38px;color:#999; padding-left:20px;}
.uppic_right{ float:left;width:200px; padding-left:60px; margin-top:20px; text-align:center;color:#666}
.uppic_right_tit{width:100%; padding:20px 0;}
.uppic_ewm{width:130px;height:130px;border:1px solid #ddd; padding:10px 10px 10px 10px; margin:10px auto}
.uppic_ewm_p{ padding-bottom:20px;color:#f00}





