@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0}
body{ font-size:14px; background:#fff;width:100%;height:100%;}
a{ text-decoration:none;color:#666}
a:hover{ text-decoration:underline;color:#c30;}
ul,li,ol{ list-style:none;}
img{border:none;}
em,i{ font-style:normal}
input,textarea{font-family:microsoft yahei;}
.fl{float:left;}
.fr{float:right;}
.clear{ clear:both}
.w1200{width:1200px; margin:0 auto}
.hp_kk{width:1200px;margin-top:15px;}
.nowrap{ text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}

.index_help_wanted{width:248px;height:335px; background:#fff; float:left; position:relative}
.index_help_wanted_tit{width:196px;height:40px; line-height:40px; font-size:16px; background:#3d9af6 url(../images/jp_icon.png) no-repeat 20px 7px;color:#fff;border-radius:3px 3px 0 0 ; padding-left:52px; position:absolute;left:0px;top:-40px;}
.index_help_wanted_job{ padding-left:15px;height:272px; margin-top:10px; overflow:hidden}
.index_help_wanted_job ul{border-left:1px solid #ebebeb; padding-left:15px;}
.index_help_wanted_job ul li{ line-height:34px; position:relative}
.index_help_wanted_jobname{width:138px;height:34px; line-height:34px; display:block}
.index_help_wanted_jobname a{color:#666}
.index_help_wanted_jobname a:hover{color:#f60;}
.index_help_wanted_job_xz{ position:absolute;right:10px;top:0px; font-size:12px;color:#f85659; text-align:right; display:inline-block}
.index_help_wanted_job_c{width:7px;height:7px; background:#ebebeb;border-radius:50%; display:inline-block; position:absolute;left:-19px;top:13px;}
.index_help_wanted_job_more{width:210px; float:left; padding:20px 15px 0px 15px;}
.index_help_wanted_job_more_bth{ display:block;height:30px; line-height:30px; text-align:center; background:#f4f4f4;border-radius:20px;color:#999; font-size:12px;}
.index_help_wanted_job_more_bth:hover{background:#e83838;color:#fff; text-decoration:none}


.index_frist_box{width:635px; float:left; padding-left:15px; padding-top:15px;}
.index_huandeng{width:635px;height:265px; float:left; background:#fff}

.index_notice{width:600px; padding-left:35px;height:40px;  float:left; margin-top:15px; overflow:hidden; background:#fff url(../images/ggicon.png) no-repeat left center}
.index_notice ul{width:520px;height:40px; line-height:40px; overflow:hidden; float:left}
.index_notice ul li{width:100%;}
.index_notice ul li a{color:#666}
.index_notice ul li a:hover{color:#f60;}
.index_notice_more{ float:right; line-height:40px; margin-right:10px; font-size:12px;color:#3d9af6}
.index_notice_time{ margin-left:30px; color:#aaa}
.index_frist_login{width:287px; float:right; background:#fff; margin-top:15px;height:320px; position:relative}
.index_frist_pic{width:100%;height:65px; padding:0px 0 10px 0; text-align:center}
.index_frist_hi{width:100%; text-align:center; text-indent:20px;}
.index_frist_pic_bg{ display:inline-block;width:65px;height:65px;border-radius:50%; background:#e7e7e7 url(../images/usericon.png) no-repeat center center}
.index_frist_login_bth{width:100%; padding-top:15px;}
.index_frist_login_bth_l{width:112px;height:37px; line-height:37px; display:inline-block;border-radius:3px; background:#2384e3;color:#fff; font-size:16px; text-align:center; margin-left:20px;}
.index_frist_login_bth_l:hover{color:#fff; background:#0e75d9;text-decoration:none;}
.index_frist_login_bth_reg{width:110px;height:35px; line-height:35px; display:inline-block;border-radius:3px; background:#fff;border:1px solid #2384e3;color:#2384e3; font-size:16px; text-align:center; margin-left:20px}
.index_frist_login_sj{ padding-left:20px; padding-top:15px; position:relative}
.index_frist_login_bth_sj_a{color:#ef494a}
.index_frist_login_bth_m{ position:absolute;right:20px;top:15px;color:#2384e3;}
.index_frist_login_other{ padding-top:28px; padding-left:20px; padding-right:20px;}
.index_frist_login_other_tit{border-top:1px solid #ddd; position:relative}
.index_frist_login_other_tit_s{ display:inline-block; padding:0px 20px; background:#fff; position:absolute;left:60px;top:-10px;color:#666}
.index_frist_login_other_xl{width:30px;height:30px; background:url(../images/kj_icon.png) no-repeat 0 0; display:inline-block; margin-left:10px; }
.index_frist_login_other_wx{width:30px;height:30px;background: url(../images/kj_icon.png) no-repeat -60px 0px;display:inline-block; margin-left:10px;margin-right:10px}
.index_frist_login_other_qq{width:30px;height:30px; background:#40c100; display:inline-block;background: url(../images/kj_icon.png) no-repeat  -30px 0;margin-left:10px; margin-right:10px;}
.index_frist_login_other_box{ padding-top:23px; text-align:center}
.index_frist_login_other_box a:hover{box-shadow: 0 0 20px rgba(0,0,0, .1);border-radius:50%;}
.wxcode_login {width: 35px;height: 35px;background: url(../images/eer.png) no-repeat;position: absolute;right:13px;top: 13px;cursor: pointer;}
.wxcode_login_c{width: 35px; position:relative; display:block}
.wxcode_login_c_icon {display: inline-block;width: 80px;height: 25px;text-align: center;line-height: 25px;font-size: 14px;color: #FF8C14;background: url(../images/sm_login.png) no-repeat;position:absolute;top: 0px;right:40px;}

.normal_login {width: 35px;height: 35px;background: url(../images/pc.png) no-repeat;position: absolute;right:13px;top: 13px;cursor: pointer;display: none;}
.wxlogintext {margin: 0 auto;width: 100%;height: 150px;padding:30px  0px 20px 0px;margin-top: 10px;text-align:center}
.wxlogintext img {width: 150px;height: 150px;border: 0px;}
.wxlogintxt {margin: 0 auto;width: 190px;text-align:center;margin-top:20px;height: 36px;line-height: 36px;background-color: #EEEEEE;color: #999999;border-radius: 30px;}
.yun_Indexlogin_yzm_img{width:110px;height:43px;}


.index_banner{width:100%; overflow:hidden}
.index_banner .index_banner_1250{width:1250px;}
.index_banner img{ float:left; margin-top:15px; margin-right:15px;}
.money_reward_job{width:100%; float:left; background:#fff; margin-top:15px; padding-bottom:25px;}
.money_reward_job_tit{width:100%; padding-top:10px;float:left;}
.money_reward_job_tit .money_reward_job_tit_name{height:50px; line-height:50px; display:inline-block; float:left; padding-left:130px; font-size:18px;color:#404040; background:url(../images/yun_sj_icon.png) no-repeat 20px top;}
.money_reward_job_tip{ float:left;color:#ababac; margin-left:20px; margin-top:17px;}
.money_reward_job_more{ float:right; line-height:50px; margin-right:20px;color:#3d9af6; font-size:12px;}
.money_reward_job_cont{width:100%; float:left}
.money_reward_job_cont ul li{width:353px;border:1px solid #eeeeee; float:left; margin-left:20px; margin-top:15px; padding:0px 10px; position:relative;
-webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;}
.money_reward_job_cont ul li:hover{   box-shadow: 0px 10px 20px #DDD;
    transform: translate(0,-3px);
    transition: transform 0.2s linear 0s;}
.money_reward_job_jobname{width:225px;height:40px; line-height:40px; overflow:hidden; font-size:16px; float:left}
.money_reward_job_jobname a:hover{color:#f60;}
.money_reward_job_xz{color:#ff845e; position:absolute;right:10px;top:10px;}
.money_reward_job_comname{width:225px;height:20px; line-height:20px; overflow:hidden; font-size:14px; float:left}
.money_reward_job_comname a{color:#999999}
.money_reward_job_city{color:#999; position:absolute;right:10px;top:40px; font-size:12px;}
.money_reward_job_box{width:100%;border-top:1px dashed #eeeeee; margin-top:10px; padding-top:12px; padding-bottom:12px; float:left}
.money_reward_job_all{width:170px;height:30px;border:1px solid #eeeeee; line-height:31px; float:left; margin-top:3px;}
.money_reward_job_all_n{width:65px;color:#ff855e; font-weight:bold; font-size:14px; padding-left:35px; background:url(../images/yun_sj_hb.png) no-repeat 5px 4px; display:inline-block;border-right:1px solid #eeeeee; float:left}
.money_reward_job_all_rz{width:65px; display:inline-block; text-align:center; float:left;color:#999}
.money_reward_job_mx{width:60px; float:left; text-align:center; font-size:12px;color:#bfbbbb;}
.money_reward_job_mx_n{color:#999; padding-bottom:3px;}
.index_new_title{width:100%; padding:25px 0; float:left}
.index_new_title_name{ padding-left:20px;height:28px; line-height:28px; float:left; position:relative;color:#e83838; font-size:22px; line-height:28px; display:block}
.index_new_title_line{width:6px;height:29px; background:#e83838; display:inline-block; border-radius:3px; position:absolute;left:0px;top:0px;}
.index_new_title_tip{color:#ababac; float:left; margin-left:28px; margin-top:8px;}
.index_new_title_more{ float:right;width:95px;height:25px;border:1px solid #e83838; color:#e83838; display:inline-block;border-radius:3px; text-align:center; line-height:25px; background:#fff}
.index_new_title_more:hover{ background:#e83838;color:#fff; text-decoration:none;}
.index_new_title_rc .index_new_title_name{color:#ff9933}
.index_new_title_rc  .index_new_title_line{ background:#ff9933}
.index_new_title_rc .index_new_title_more{border:1px solid #ff9933; color:#ff9933;}
.index_new_title_rc .index_new_title_more:hover{ background:#ff9933; color:#fff;}
.index_new_title_news .index_new_title_name{color:#0ab389}
.index_new_title_news  .index_new_title_line{ background:#0ab389}
.index_new_title_news .index_new_title_more{border:1px solid #0ab389; color:#0ab389;}
.index_new_title_news .index_new_title_more:hover{ background:#0ab389; color:#fff;}
.index_frame_left{width:290px; float:left; background:#fff;}
.index_frame_banner{width:290px;height:190px;}
.index_frame_hotjobbox{ padding:0px 0px 0 15px;height: 193px;overflow: hidden;}
.index_frame_hotjobtit{ padding-top:17px; padding-bottom:12px; font-size:18px;color:#e83838}
.index_frame_hotjobname{ display:inline-block; line-height:35px; margin-right:30px; font-size:14px;}
.index_frame_hotjobname a:hover font{color:#f60}
.index_frame_more{width:260px; float:left; padding:15px 15px 15px 15px;}
.index_frame_more_bth{ display:block;height:30px; line-height:30px; text-align:center; background:#f4f4f4;border-radius:20px;color:#999; font-size:12px;transition: all 0.4s ease;}
.index_frame_more_bth:hover{background:#e83838;color:#fff; text-decoration:none}
.index_frame_more_bth_jl:hover{background:#ff9933;color:#fff; text-decoration:none}

.index_frame_recommend_tit {wiodth:100%;height:40px;}
.index_frame_recommend_tit .index_frame_recommend_tit_s{width:145px;height:40px; line-height:40px; background:#e83838;color:#fff; text-align:center; font-size:16px; display:block;border-radius:3px 3px  0 0; float:left}
.index_frame_recommend_tit .index_frame_recommend_tit_jl{background:#ff9933;}
.index_frame_recommend_more{width:145px;height:39px; line-height:39px; text-align:center; float:left;border-bottom:1px solid #ebebeb; font-size:16px;color:#6c6a6a}
.index_frame_recommend_job{ padding:0px 15px;}
.index_frame_recommend_job ul li{ background:#f4f4f4;border-radius:5px; margin-top:12px; padding-left:70px; position:relative; padding-top:12px; padding-bottom:15px; -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;}
.index_frame_recommend_job ul li:hover{ box-shadow: 0px 10px 10px #DDD;
    transform: translate(0,-3px);
    transition: transform 0.2s linear 0s;}
.index_frame_recommend_job_xz{color:#f85659; font-weight:bold; padding:5px 0;}
.index_frame_recommend_job_name{width:100%;height:20px; line-height:20px;  font-size:16px;}
.index_frame_recommend_job_name a font{color:#404040}
.index_frame_recommend_job_name a:hover font{color:#f60}
.index_frame_recommend_comname{width:100%;height:20px; line-height:20px; font-size:12px;color:#acaaaa;}
.index_frame_recommend_comname a{color:#acaaaa;}
.index_frame_recommend_pic{width:50px; position:absolute;left:10px;top:25px;}
.index_frame_recommend_pic img{border-radius:50%;}
.index_frame_right{width:890px; float:right; background:#fff}
.index_frame_right_tit{width:100%; padding-top:20px;}
.index_frame_right_tit_s{ padding-left:18px; position:relative; font-size:18px;}
.index_frame_right_tit_line{width:4px;height:20px; background:#e83838; display:inline-block; border-radius:3px; position:absolute;left:0px;top:2px;}
.index_mq_box{width:100%;max-height:443px; float:left; overflow:hidden}
.index_mq_box_cont{width:900px;}
.index_mq_box ul li{width:147.5px;height:147px; float:left;border-right:1px solid #eee;border-bottom:1px solid #eee;
overflow:hidden; position:relative}
.index_mq_box_pic{width:100%;height:98px; padding-top:23px; text-align:center}
.index_mq_box_name{width:100%;height:20px; line-height:20px;  text-align:center; font-weight:bold;color:#333}
.index_mq_box_cont_showall{width:100%;transition: all 0.3s ease 0s; position:absolute;left:0px;top:170px; }
.index_mq_box_cont_showall_c{width:100%; position:relative}
.index_mq_box_cont_showjob{width:100%; position:absolute;left:0px;top:0px; }
.index_mq_box_cont_bg{width:100%;height:147px; background:#e83838; position:absolute;left:0px;top:0px; opacity:0.9;box-shadow: 0 0 20px rgba(0,0,0, .1);}
.index_mq_box_cont_showjob_c{ padding-left:15px; padding-right:15px;}
.index_mq_box_cont_showcomname{ font-weight:bold; font-size:14px; text-align:center; position:relative; padding-top:5px;}
.index_mq_box_cont_showcomname a{color:#fff}
.index_mq_box_cont_showcomname a:hover{color:#ffc600}
.index_mq_box_cont_showcomname_linebox{width:100%; text-align:center; padding:5px 0}
.index_mq_box_cont_showcomname_line{width:29px;height:3px; background:#ffc600; display:inline-block}
.index_mq_box_cont_showjoblist{ line-height:23px; padding-left:10px; font-size:12px; background:url(../images/job_l_icon.png) no-repeat left 9px}
.index_mq_box_cont_showjoblist a{color:#fff}
.index_mq_box_cont_showjoblist a:hover{color:#ffc600}
.index_mq_box_cont_showjobmore{ line-height:24px; padding-left:10px; font-size:12px;}
.index_mq_box_cont_showjobmore a{color:#ffc600;}
.index_mq_box_cont_showjobmore a:hover{color:#ffc600}
.index_mq_box ul .current1{position:relative}
.index_mq_box ul .current1 .index_mq_box_cont_showall{ left:0px;top:0px;display:block}
.index_mq_box_cont_showcomname{width:100%;height:30px; line-height:30px; overflow:hidden}

.index_newjobbox{width:870px; padding-left:15px; max-height:597px; overflow:hidden;}
.index_newjobbox ul li{width:265px; float:left; padding-right:20px;border-bottom:1px solid #eee; padding-top:15px; padding-bottom:15px;height:89px;}
.index_newjobname{padding-top:3px;}
.index_newjobname a{ font-size:16px;color:#0168bd; }
.index_newjobname a:hover {color: #f60;text-decoration: underline;}
.index_newjob_com { width:100%;height:40px; line-height:40px;}
.index_newjob_com a{color:#666666}
.index_newjobtime{ font-size:12px;color:#999999; margin-left:10px;}
.index_newjob_info{width:100%;height:20px; line-height:20px;color:#666}
.index_newjob_info_line{ padding:0px 8px; font-size:12px;color:#999999}
.index_newjob_info_xz{color:#f85659; font-weight:bold}
.index_recommend_resume_box{width: 260px;float: left;padding: 0px 20px; }
.index_recommend_resume_box ul li{ width:100%; float:left;padding:10px 0;   }
.index_recommend_resume_all{  padding:0px 0 0px 85px; position:relative; display:none;}
.index_recommend_resume_pic{width:40px; position:absolute;left:20px;top:5px;}
.index_recommend_resume_zx{height:27px; line-height:27px; position:absolute;right:0px;top:10px;font-size: 14px;display: inline-block;color: #73b7f9;background-color: #fff;border: 1px solid #b9dbfc;border-radius: 30px;text-align: center;transition: all 0.5s;padding: 0 15px;}
.index_recommend_resume_lvname a{ display:inline-block;width:65px;height:18px; line-height:18px;text-overflow:ellipsis; overflow:hidden; white-space:nowrap; vertical-align:top ;color:#666 }
.index_recommend_resume_job{ font-size:12px;color:#bebbb9}
.index_recommend_resume_lvbf{color:#999}
.index_recommend_resume_lvbf_n{ font-weight:bold; font-size:12px;color:#000}
.index_recommend_resume_hot{ position:absolute;left:0px;top:0px; font-size:16px;color: #b8b8b8;font-style: italic;}
.index_recommend_resume_hot1{color:#f60;font-family: arial;font-weight: bold;}
.index_recommend_resume_list{ padding-left:25px; position:relative}
.index_recommend_resume_cs{ position:absolute;right:0px;top:3px;color:#b8b8b8; font-size:12px;}
.index_recommend_resume_box ul .show {border-bottom:1px dashed #eee}
.index_recommend_resume_box ul .show .index_recommend_resume_list{ display:none;}
.index_recommend_resume_box ul .show .index_recommend_resume_all{ display:block}
.index_recommend_resume_all .index_recommend_resume_hot{top:10px; }
.index_recommend_resume_box ul .index_recommend_resume_cur{}
.index_recommend_resume_box ul .index_recommend_resume_cur .index_recommend_resume_all{ display:block}
.index_recommend_resume_box ul .index_recommend_resume_cur .index_recommend_resume_list{ display:none;}
.index_recommend_resume_username{ font-size:16px;}
.index_recommend_resume_username a{color:#3396f6}
.index_recommend_resume_username a:hover{color:#f60;}
.index_recommend_resume_useryx{ padding:8px 0;color:#999}
.index_recommend_resume_useryx_n{ font-weight:bold;color:#ff9933; font-weight:bold}
.index_recommend_resume_userinfo{width:100%;height:20px; line-height:20px;text-overflow:ellipsis; overflow:hidden; white-space:nowrap; font-size:12px;color:#999}
.index_recommend_resume_userinfo_line{ padding:0px 10px;color:#999; font-size:10px;}
.index_resume_user_list{width:875px; padding-left:15px;height:218px; overflow:hidden}
.index_resume_user_list li{width:215px;border-bottom:1px solid #eee; float:left; padding:16px 0;}
.index_resume_useryx{width:100%;height:19px; line-height:19px;color:#999; font-size:12px;}
.index_resume_useryx_n{ font-weight:bold;color:#d42024; }
.index_resume_userinfo{ padding:8px 0;color:#999; font-size:12px;}
.index_resume_userinfo_line{color:#999; padding:0px 10px; font-size:12px;}
.index_resume_user_n{color:#999; display:inline-block; margin-left:10px; font-size:12px;}
.index_resume_username{ font-size:16px;color:#333}
.index_resume_username:hover{color:#f60;}
.index_resume_username img{ vertical-align:middle; margin-right:5px;}


.index_hotnews {width:100%; float:left}
.index_hotnews ul{width:280px; padding-left:15px; padding-top:10px; padding-bottom:10px;}
.index_hotnews ul li{width:100%;height:40px; line-height:40px;}
.index_hotnews ul li .index_hotnews_n{display: block;width: 20px;font-size: 12px;float: left;text-align: center;
font-family: arial,'Microsoft Yahei';background: #d8ecff;color: #3396f6;height: 20px;border-radius: 2px;line-height: 20px;margin-top: 10px;margin-right: 10px;}
.index_hotnews ul li  a {font-size: 14px;color: #666;display: block;width: 250px;float: left;height: 40px;overflow: hidden;-webkit-transition: color .25s;transition: color .25s;}
.index_hotnews ul li  a:hover{color:#3396f6}
.index_hotnews ul li .hot1 {font-weight: 500;color: #fff;background: #f60;}
.index_hotnews ul li .hot2 {font-weight: 500;color: #fff;background: #ff8b3e;}
.index_hotnews ul li .hot3 {font-weight: 500;color: #fff;background: #f4ab2b;}

.index_news_list{width:410px; float:left; margin-left:20px;margin-top:30px;}
.index_news_list_img{width:190px; float:left;}
.index_news_list_info{width:200px; float:left; padding-left:20px; }
.index_news_list_name{ font-size:16px;height:50px; padding-bottom:30px; line-height:24px;}
.index_news_list_name a{color:#6c6a6a}
.index_news_list_lb{color:#bbbbbb; font-size:14px; padding-left:20px; background:url(../images/fy_lb.png) no-repeat left 4px;}
.index_news_list_time{color:#bbbbbb; font-size:14px;}
.index_news_list_list{width:100%; float:left; padding-top:20px; padding-bottom:12px}
.index_news_list_list li{  width:410px; line-height:34px; float:left; margin-left:20px;}
.index_news_list_list li a{width:270px;height:34px; line-height:34px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 14px; display:block; color: #666; float:left; position:relative; padding-left:18px;}
.index_news_list_list li a:hover{color:#3396f6}
.index_news_list_list li em{ float:right;color: #b8b8b8; font-size:12px;}
.index_news_list_list li .index_news_list_icon{width: 3px;height: 3px;background: #bcbcbc;border-radius: 50%; position:absolute;left:0px;top:15px;}

.index_resume_user_zd{width:100%;height:255px; padding-top:30px; float:left; overflow:hidden }

.index_resume_user_zd_list{width:160px;height:220px;border:1px solid #ebebeb;border-radius:5px; float:left; margin-left:28px;    box-shadow: 0 0 10px rgba(0,0,0, .1); position:relative}

.index_resume_user_zdpic{width:100%; text-align:center; padding-top:20px; padding-bottom:5px;}
.index_resume_user_zdyx{width:100%; text-align:center; font-weight:bold;color:#d42024; font-weight:bold;height:30px; line-height:30px;}
.index_resume_user_zdname{width:100%; text-align:center; font-size:16px;}
.index_resume_user_zdinfo{width:100%; text-align:center; font-size:12px;color:#666; padding:0px 0;}
.index_resume_user_zdinfo_line{ display:inline-block; padding:0px 8px;color:#999}
.index_resume_user_zdyq{width:100%; text-align:center; padding-top:15px; }
.index_resume_user_zdyq a{width:88px;height:23px; line-height:23px; text-align:center;color:#0d7fc5;border:1px solid #9ec7eb; display:inline-block;border-radius:20px; background:#f3f9ff}
.index_resume_user_zd_icon{ position:absolute;right:10px;top:8px; font-size:12px;color:#cfcdcd}

.Box {position: relative;}
.Box .Box_con {position: relative; padding-left:55px; padding-right:55px; overflow:hidden}
.Box .Box_con .btnl {position: absolute;}
.Box .Box_con .btn {display: block;width: 41px;height: 41px;position: absolute;top: 80px;cursor: pointer;}
.Box .Box_con .btnl {background:url(../images/lefticon.png) no-repeat;left: 20px;}
.Box .Box_con .btnr {background:url(../images/righticon.png) no-repeat;right: 20px;}
.Box .Box_con .conbox {position: relative;overflow: hidden;}
.Box .Box_con .conbox ul {position: relative;list-style: none;}
.Box .BoxSwitch {margin-top: 10px;text-align: center;}
.Box .BoxSwitch span {display: inline-block;*display: inline;*zoom: 1;vertical-align: middle;width:8px;height:8px;background: #ccc;margin: 0 5px;cursor: pointer;border-radius:50%}
.Box .BoxSwitch span.cur {background: red;}























/*tip bottom*/
.tip_bottom {width: 100%;height: 65px;position: fixed;bottom: 0;left: 0;z-index:1000000; }
.tip_bottom_icon {width:155px;height:86px;background: url(../images/i_bottom.png) no-repeat; position:absolute;left:-150px;top:-86px; display:none;}
.tip_bottom_cont {width: 100%;height: 65px;position: relative;}
.tip_bottom_bg{width: 100%;height: 65px; position:absolute;left:0px;top:0px; z-index:9;background-color:#000000;opacity: 0.5; filter:Alpha(opacity=50); }
.tip_bottom_cont_c{width: 100%;height: 65px; position:absolute;left:0px;top:0px; z-index:10}
.tip_bottom_main {width:1200px;height: 65px;position: relative;margin:0 auto}
.tip_bottom_left {width:1200px;position: relative;}
.tip_bottom_ewm{width:110px;height:110px; padding:10px 10px  0 0; text-align:center; position:absolute;right:0px;bottom:3px;}
.tip_bottom_ewm_p{width:100%;height:20px; line-height:20px; text-align:center;color:#fff; font-size:12px; position:relative}
.tip_bottom_ewm_bg{width:90px;height:90px; background:#fff; position:relative; margin:0 auto}
.tip_bottom_ewm_p_icon{width:15px;height:46px; background:url(../images/ewm_icon.png) no-repeat; display:inline-block; position:absolute;right:-15px;top:0px;}

.tip_bottom_close {display: block;width: 11px;height: 11px;background: url(../images/i_bottom_close.png) no-repeat;position: absolute;top: 10px;right: -37px; z-index:10}
.tip_bottom_logo {display: inline-block;color: #fff;font-size: 15px; }
.tip_bottom_logo h1 {font-weight: bolder;line-height: 25px;font-size:18px;font-weight:normal}
.tip_bottom_logo h2 {line-height: 65px;font-size:24px; font-weight:normal;}
.tip_bottom_fast{ font-size:24px; display:inline-block; padding-left:50px; background:url(../images/i_bottomtime.png) no-repeat left center}
.tip_bottom_time{color:#fcff00;font-weight:bold; font-size:28px; }
.tip_bottom_num {display: inline-block;width: 195px;font-size: 17px;color: #fff;text-align: center;}
.tip_bottom_num span {font-size: 31px;font-family: Arial;padding-right: 5px;}
.tip_bottom_member{ position:absolute;right:130px;top:10px;}
.tip_bottom_login,.tip_bottom_reg {display:inline-block;width: 110px;height: 46px;background:#0ea7f8;    border-radius: 4px;color: #fff;line-height: 46px;text-align: center;font-size: 18px;}
.tip_bottom_reg:hover{ background:#ed9914;color:#fff; text-decoration:none;}
.tip_bottom_login:hover{ background:#228dc9;color:#fff; text-decoration:none;}
.tip_bottom_reg {width: 110px;text-align: center;background:#ff9f00;height:46px; line-height:46px; margin-left:10px;}
.tip_bottom_login {margin-left: 25px;}
.index_verification{padding-top: 5px;}
.index_news_box{width:100%; float:left; margin-top:15px;}
.index_news_left{width:280px;height:395px; float:right; margin-right:15px;}
.index_news_tip{width:100%;height:125px; position:relative; background:#0ea7f8;color:#fff; text-align:center}
.index_news_tip_icon{ width:26px;height:26px; position:absolute;left:50%;bottom:-16px; margin-left:-13px;-webkit-transform: rotate(45deg);background:#fff; display:block}
.index_news_tip_tit{ font-size:16px; font-weight:bold; padding-top:30px; padding-bottom:10px;}
.index_news_list ul{width:258px;border:1px solid #eee; background:#fff; padding:10px;}
.index_news_list ul li{overflow:hidden;line-height:35px;white-space:nowrap;text-overflow: ellipsis;width:245px; padding-left:13px; background:url(../images/dian.png) no-repeat 0px 17px;}
.index_news_list_imgnews{width:885px;height:395px; overflow:hidden; float:left;  padding:0px 0 0px 0px;}
.hp_news_t{width:430px; margin-left:15px; float:left}
.index_news_list_imgnews_cont {width:950px}
.index_link{width:100%; float:left; background:#fff; margin-top:20px; padding-bottom:20px;}
.index_link_tit{width:100%; float:left; padding-top:20px;}
.index_link_tit_s{ font-size:18px;color:#6c6a6a; float:left; padding-left:15px;}
.index_link_tit_more{ float:right; margin-right:20px; display:inline-block}
.index_link_tit_more a{    color: #3d9af6; font-size:12px; }
.index_link_box_banner a{width:152px;height:30px;border:1px solid #eee; margin-top:10px; margin-left:15px; display:block; float:left;  padding-top:10px; padding-bottom:10px; text-align:center}
.index_link_box_banner a:hover {
    box-shadow: 0px 5px 5px #DDD;
    transform: translate(0,-1px);
    transition: transform 0.2s linear 0s;
}
.index_link_box_banner a img{}
.index_link_box_p{width:100%; float:left; padding-top:5px;}
.index_link_box_p_name{ width:135px;display:inline-block; float:left; margin-left:15px; margin-top:8px; line-height:18px;}
.index_zs_banner{width:100%; text-align:center; overflow:hidden}
.index_zs_banner1 a{width:100%; position:relative; height:500px; display:block}
.index_zs_banner2 a{width:100%; position:relative; height:50px; display:block}
.index_zs_banner img{display: block;position: absolute;top: 50%;left: 50%;transform: translate3d(-50%,-50%,0);-webkit-transform: translate3d(-50%,-50%,0);}
/*login after*/
.login_after_box{ padding:0px 20px;}
.login_after_welcome{width:100%; padding:20px 0 10px 0; font-size:16px; font-weight:bold; text-align:center}
.login_after_userlogo{width:100%; padding-top:30px;  text-align:center;height:80px; position:relative ; float:left}
.login_after_comlogo{z-index:10}
.login_after_combg{}
.login_after_username{width:100%; font-size:14px;color:#787b7e; text-align:center; float:left;height:20px; line-height:20px; overflow:hidden; margin-top:10px;}
.login_after_username_id{color:#ff6a6a}
.login_after_webrname{width:100%; font-size:12px;color:#787b7e; text-align:center; padding:5px 0 5px 0;border-bottom:1px solid #e6e6e6; float:left}
.login_after_ztbox{width:100%; padding-top:10px;color:#787b7e; float:left}
.login_after_zt_list{width:81px;border-right:1px solid #e6e6e6; float:left;text-align:center;}
.login_after_zt_list a{color:#787b7e;}
.login_after_zt_list a:hover{ text-decoration:none;}
.login_after_zt_list_n{ display:block;width:100%; font-size:20px; color:#1c99ef}
.login_after_zt_list_end{border:none;}
.login_after_bthbox{width:100%; padding-top:5px; float:left}
.login_after_bth{width:120px;height:40px; line-height:40px; display:inline-block; background:#1c99ef;color:#fff; text-align:center; margin-top:15px; float:left;border-radius:3px;}
.login_after_bthend{width:120px;height:40px; line-height:40px; display:inline-block; background:#ff6a6a;color:#fff; text-align:center; margin-top:15px; float:right;border-radius:3px;}
.login_after_bttc{width:100%;height:40px; line-height:40px; display:inline-block; background:#ebf6ff url(../images/yun_intc.png) no-repeat 70px center; text-align:center; margin-top:10px; float:left;color:#55aae3;border-radius:3px;}
.login_after_bth:hover{ background:#00b2fc;color:#fff; text-decoration:none}
.login_after_bthend:hover{ background:#f84848;color:#fff; text-decoration:none}
.login_after_user_box{width:100%; float:left; padding:15px 0 10px 0;border-bottom:1px solid #e6e6e6; color:#787b7e;}
.login_after_user_photo{ float:left}
.login_after_user_name{ width:165px;float:left; padding-left:10px;}
.login_after_user_webname{ padding:6px 0 0 0;height:20px; line-height:20px; overflow:hidden ;    overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.login_after_user_uname{width:100%;height:20px; line-height:20px; overflow:hidden; margin-top:10px;}
.login_after_userbth{width:120px;height:40px; line-height:40px; display:inline-block; background:#1c99ef;color:#fff; text-align:center; margin-top:15px; float:left;border-radius:3px;}
.login_after_userbthend{width:120px;height:40px; line-height:40px; display:inline-block; background:#ff6a6a;color:#fff; text-align:center; margin-top:15px; float:right;border-radius:3px;}
.login_after_usergz{width:120px;height:40px; line-height:40px; display:inline-block; background:#1c99ef;color:#fff; text-align:center; margin-top:15px; float:right;border-radius:3px;}
.login_after_userbth:hover{ background:#00b2fc;color:#fff; text-decoration:none}
.login_after_userbthend:hover{  background:#f84848;color:#fff; text-decoration:none}
.login_after_usergz:hover{ background:#00b2fc;color:#fff; text-decoration:none}
.index_banner{width:100%; float:left;}
.index_banner img{ margin-top:15px;}