<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Tips</title>
		<link rel="stylesheet" type="text/css" href="/resource/home/css/style.css" />
		<script src="/resource/jquery.min.js"></script>
	</head>

<body>
	<style>
		body {
			background: #eeeeee;
		}
		.msg_box {
			width: 82%;
			height: auto;
			margin: 20px auto;			
			background: #ffffff;
			padding: 15px;
			color: #666666;
			font-size: 14px;			
		}
		.msg_box span, .msg_box a {
			font-size: 12px;
		}
		.msg_box span {
			color: #b9b9b9;			
		}
		.msg_box a {
			color: #3fbae0;			
		}
		.version {
			width: 100%;
			height: auto;
			color: #b9b9b9;
			font-size: 12px;
			text-align: center;
			margin: 0 auto;
		}
	</style>
	<div class="msg_box">
		<p>{$message}</p>
		<br />
		<span>程序将在<label id="sec">{$sec}</label>秒后 <a href="{if $url}{$url}{else /}javascript: window.history.back(-1);{/if}">{if $url}跳转{else /}返回{/if}</a></span>
	</div>
	<div class="version">TOP-framework</div>
	<script>
		$(function() {
			var sec = {$sec};
			setInterval(function() {
				if (sec <= 0) {
					{if $url}
						window.location.href = '{$url}';
					{else /}
						window.history.back(-1);
					{/if}
				} else {
					sec = sec - 1;
					$('#sec').html(sec);
				}
			}, 1000);
		});
	</script>
</body>
</html>
